/* Font-face declarations */
@font-face {
  font-family: 'NeueMontreal-Bold';
  src: url(fonts/NeueMontreal-Bold.otf);
}

@font-face {
  font-family: 'NeueMontreal-Regular';
  src: url(fonts/NeueMontreal-Regular.otf);
}

@font-face {
  font-family: 'NeueMontreal-Light';
  src: url(fonts/NeueMontreal-Light.otf);
}

body{
  background: linear-gradient(90deg, #051E22, #5A944D);
  margin: 50px 50px 50px 50px;
  user-select: none;
}

.navigation-bar{
  background-color: rgba(5, 30, 34, 0.7);
  backdrop-filter: blur(100px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-left: 300px;
  padding-right: 300px;
  height: 50px;
}

.navigation-bar a{
  color: #FCFCFC;
  font-family: 'NeueMontreal-Regular';
}

a[aria-current="page"] {
  font-weight: bold;
  color: #5A944D;
}

.hero-section-homepage{
  background-color: rgb(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 10px 0px 20px 0px;
  height: auto;
  justify-content: center;
  display: flex;
  padding: 50px 50px 50px 50px;
}

.hero-section-about{
  background-color: rgb(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 10px 0px 20px 0px;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 50px 50px 50px 50px;
}

.hero-section-projects{
  background-color: rgb(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 10px 0px 20px 0px;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 50px 50px 50px 50px;
}

.hero-section-skills{
  background-color: rgb(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 10px 0px 20px 0px;
  height: auto;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.hero-section-contacts{
  background-color: rgb(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 10px 0px 20px 0px;
  height: auto;
  justify-content: center;
  display: flex;
  padding: 50px 50px 50px 50px;
}

.box-homepage{
  color: #FCFCFC;
  background-color: rgba(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-radius: 20px;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  width: auto;
  height: auto;
  flex: 1;
  text-align: justify;
  font-family: 'NeueMontreal-Regular';
  letter-spacing: 1px;
  align-content: center;
  padding: 30px 50px 30px 50px;
  margin-right: 25px;
}

.box-about{
  color: #FCFCFC;
  background-color: rgba(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-radius: 20px;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  width: auto;
  height: auto;
  flex: 1;
  text-align: justify;
  font-family: 'NeueMontreal-Regular';
  letter-spacing: 1px;
  align-content: center;
  padding: 30px 50px 30px 50px;
  margin-bottom: 25px;
}

.box-projects{
  color: #FCFCFC;
  background-color: rgba(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-radius: 20px;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  width: auto;
  height: auto;
  flex: 1;
  text-align: justify;
  font-family: 'NeueMontreal-Regular';
  letter-spacing: 1px;
  align-content: center;
  padding: 30px 50px 30px 50px;
  margin-bottom: 25px;
}

.box-skills{
  color: #FCFCFC;
  background-color: rgba(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-radius: 20px;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  width: auto;
  height: auto;
  flex: 1;
  text-align: justify;
  font-family: 'NeueMontreal-Regular';
  letter-spacing: 1px;
  align-content: center;
  padding: 30px 50px 30px 50px;
  margin-bottom: 25px;
}

.box-projects-achievements{
  color: #FCFCFC;
  background-color: rgba(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-radius: 20px;
  margin: 5px 5px 5px 5px;
  padding: 20px 20px 20px 20px;
  width: auto;
  height: auto;
  flex: 1;
  font-size: 14px;
  text-align: justify;
  font-family: 'NeueMontreal-Regular';
  letter-spacing: 1px;
  align-content: top;
  padding: 30px 50px 30px 50px;
}

.box-contacts{
  color: #FCFCFC;
  background-color: rgba(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-radius: 20px;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  width: auto;
  height: auto;
  flex: 1;
  text-align: justify;
  font-family: 'NeueMontreal-Regular';
  letter-spacing: 1px;
  align-content: center;
  padding: 30px 50px 30px 50px;
  margin-left: 25px;
}

h1{
  font-family: 'NeueMontreal-Bold';
  color: #FCFCFC;
}

h2{
  font-family: 'NeueMontreal-Regular';
  font-size: 20px;
}

.h2-skills{
  font-family: 'NeueMontreal-Bold';
  font-size: 20px;
}

hr{
  background-color: #FCFCFC;
  height: 2px;
  margin-bottom: 50px;
}

.hr-skills{
  background-color: #FCFCFC;
  height: 1px;
  margin-bottom: 30px;
}

.card{
  color: #FCFCFC;
  background-color: rgba(5, 30, 34, 0.1);
  backdrop-filter: blur(100px);
  border-radius: 20px;
  border-style: none;
  flex-grow: 1;
}

.card-text{
  font-family: 'NeueMontreal-Regular';
  font-size: 15px;
  color:#ceffc2;
}

.card-img-top{
  margin: 20px;
  max-width: 100%;
  max-height: 100%;
  width: auto; 
  height: auto; 
  border-radius: 15px;
}

.hard-skills .row{
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  justify-content: center;
  display: flex;
  align-items: stretch;
}

.soft-skills .row{
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  justify-content: center;
  display: flex;
  align-items: stretch;
}

.skills-description{
  font-family: 'NeueMontreal-Regular';
  text-align: justify;
  letter-spacing: 1px;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 25px;
  color:#FCFCFC;
}

.socials{
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}


/* Carousel Homepage*/
#HomepageCarousel .carousel-inner {
  width: 500px;
  height: 500px;
  border-radius: 20px;
}

#HomepageCarousel .carousel-control-prev {
  background: linear-gradient(45deg, #051E22, #5A944D, #051E22);
  backdrop-filter: blur(100px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  width: 10%;
  border-width: 0px;
}

#HomepageCarousel .carousel-control-next {
  background: linear-gradient(45deg, #051E22, #5A944D, #051E22);
  backdrop-filter: blur(100px);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  width: 10%;
  border-width: 0px;
}

/* Carousel Projects*/
#ProjectsCarousel .carousel-inner {
  width: auto;
  height: 450px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  margin-bottom: 50px;
}

#ProjectsCarousel .carousel-control-prev {
  background: linear-gradient(45deg, #051E22, #5A944D, #051E22);
  backdrop-filter: blur(100px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  width: 5%;
  border-width: 0px;
}

#ProjectsCarousel .carousel-control-next {
  background: linear-gradient(45deg, #051E22, #5A944D, #051E22);
  backdrop-filter: blur(100px);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  width: 5%;
  border-width: 0px;
}

.projects-achievements{
  margin-top: 25px;
}

.col-5{
  padding: 100px 100px 100px 100px;
  display: flex;
  align-items: center; 
  align-content: center;
}

.col-7{
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center; 
}

.buttons{
  margin-top: 50px;
}

.my-works{
  border-radius: 10px;
  color: #FCFCFC;
  background-color: #051E22;
  font-size: 18px;
  padding: 5px 30px 5px 30px;
  letter-spacing: 1px;
  border-width: 0;
  transition: background-color 0.5s;
}

.my-works:hover {
  background-color: #5A944D;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.table-education{
  color: #FCFCFC;
  width: 100%;
  background: linear-gradient(45deg, #051E22, #5A944D);
  backdrop-filter: blur(100px);
  font-family: 'NeueMontreal-Regular';
  margin-top: 50px;
}

.table-work{
  color: #FCFCFC;
  width: 100%;
  background: linear-gradient(45deg, #051E22, #5A944D);
  backdrop-filter: blur(100px);
  font-family: 'NeueMontreal-Regular';
  margin-top: 50px;
}

th, td{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-color: #61775b;
  border-width: 1px;
}

.table-socials{
  width: 100%;
  margin-top: 50px;
}

Table.table-socials td{
  border: none;
}

a{
  color:#ceffc2;
  text-decoration: underline;
}

a:hover{
  color: #051E22;
}




/* Responsive Design */
@media (max-width: 768px) {

  body{
    margin: 20px 20px 20px 20px;
  }

  .navigation-bar {
    flex-direction: column;
    padding: 10px;
    }

  .navigation-bar li {
    text-align: center;
    display: flex;
    font-size: 15px;
  }

  .box-homepage{
    margin: 20px;
    padding: 30px 20px 30px 20px;
  }

  #HomepageCarousel .carousel-inner {
    width: 380px;
    height: 380px;
    border-radius: 20px;
  }

  .hero-section-homepage {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }

  .hero-section-projects {
    flex-direction: column;
  }

  .box-projects-achievements{
    padding: 20px 20px 20px 20px;
  }

  h1 {
    font-size: 30px;
    text-align: left;
  }

  h2{
    font-size: 15px;
    text-align: left;
  }

}